<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nabz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Nabz.Properties.Settings.NabzDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\NabzData.mdb;Jet OLEDB:Database Password=8162403;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Nabz.Properties.Settings>
            <setting name="UpdateNumber" serializeAs="String">
                <value>141</value>
            </setting>
            <setting name="BtnReminderState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BtnDashbordState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BtnPaziresh1Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BtnReserveAddShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BtnVisNosShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BtnVisitTurnShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BtnVisitDescShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BtnVisServiceShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxVisitID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackUpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBaseVersion" serializeAs="String">
                <value>32</value>
            </setting>
        </Nabz.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TrezSmsServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="TrezSmsServiceSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://smspanel.trez.ir/TrezSmsService.asmx" binding="basicHttpBinding" bindingConfiguration="TrezSmsServiceSoap" contract="ServiceReference1.TrezSmsServiceSoap" name="TrezSmsServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
